.jumbotron .container-fluid {
	/*https://pixabay.com/en/photos/seoul/*/
	background: url(../img/seoul04.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 0;
	height: 625px;
}

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
}

.jumbotron h1, hr, p{
/*	border: 1px dashed red;*/
	color: #fff;
	text-shadow: 0.2px 0.2px 0.3px #000;
	padding: 0px;
}

.jumbotron h1 {
	margin-top: 80px;
	margin-bottom: 0px;
}

.jumbotron hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.jumbotron p {
/*	margin-top: 0px;*/
}

