.jumbotron .container-fluid {
	/*https://pixabay.com/en/photos/seoul/*/
	background: url(../img/seoul04.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 0;
	height: 300px;
}

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
}

.jumbotron h1, p{
	color: #fff;
	text-shadow: 0.2px 0.2px 0.3px #000;
}